/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Homepage
- Page Content
- Call to Action Block
- Footer
- Media Queries
******************************************/


:root {
  /**************************/
  /*         Colors         */
  /**************************/
  --black: #000000;
  --white: #FFFFFF;
  --off-white: rgb(233, 231, 231);
  --gray: #343434;
  --maroon: maroon;
  --maroon-light: #9B0001;
  --link: #0E6290;
  --link-hover: #093A57;
  --link-light: #55DDFF;
  --link-light-hover: #40B4D0;

  /**************************/
  /*         Constant       */
  /**************************/
  --nav-height-full: 99px;
  --nav-height-min: 83.25px;
}


/**************************/
/*     General Styles     */
/**************************/

body,
html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: var(--nav-height-full);
}

body, p, li {
	color: var(--black);
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
  overflow-wrap: break-word;
}

a {
  text-decoration: underline;
}

h1 {
	font-weight: lighter;
	line-height: 3.125rem;
	font-size: 2.25rem;
	line-height: 3.75rem;
	letter-spacing: -0.7px;
	color: var(--white);
}

h2 {
	color: var(--maroon);
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
  margin-top: .75rem;
  margin-bottom: -0.5rem;
}

h3 {
	color: var(--black);
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
  margin-top: .75rem;
  margin-bottom: -0.5rem;
}

h4 {
  color: var(--black);
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.75rem;
	letter-spacing: -0.4px;
}

.black {
  color: var(--black);
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

p, ul {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

li {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
} 

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	border: 1px solid var(--maroon);
	border-radius: 32px;
	background-color: var(--maroon);
	color: var(--white);
	font-weight:bolder;
	font-size: 1.5rem;
	line-height: 1.6;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid var(--maroon-light);
	background-color: var(--maroon-light);
	color: var(--white) !important; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	border-bottom: 1px solid var(--off-white);
	background-color: var(--white);
}

a.nav-link, a.dropdown-item {
  font-weight: 700;
	font-size: 1.25rem;
	line-height: 0.875rem;
  text-decoration: none;
}

.navbar .logo-image img {
  width: 225px;
  height: 70px;
}

.navbar .navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link, .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
	color: var(--black);
	text-decoration: none;
	transition: all 0.2s ease;
}

li.nav-item, .dropdown-menu li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
a.dropdown-item:hover {
	color: var(--maroon);
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: var(--white);
}

.dropdown-item:hover{
  background-color: var(--white);
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.navbar.top-nav-collapse {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--off-white);
  background-color: var(--white);
}

.offcanvas-collapse {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  width: auto;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  overflow-y: visible;
  visibility: visible;
}

.offcanvas-collapse.open {
  -webkit-transform: none;
  transform: none;
}

.navbar .dropdown-divider {
  width: 90%;
}

.navbar .nav-item .btn-solid-sm {
  margin-top: 0;
  margin-left: 1rem;
}
/* end of navigation */


/**********************/
/*      Homepage      */
/**********************/
.quote-block {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-2.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.quote-block .content {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.quote-block p {
	font-weight: lighter;
	line-height: 3.125rem;
	font-size: 2rem;
	line-height: 4rem;
	letter-spacing: -0.7px;
	color: var(--white);
}


.home-header {
  overflow-x: hidden;
  /* margin-top: -10rem; */
  /* margin-top: 10rem; */
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/photo-3.jpg') center center no-repeat !important;
}

.home-header a {
	color: var(--link-light);
	text-decoration: underline;
}

.home-header a:hover {
	color: var(--link-light-hover);
	text-decoration: underline;
}

.home-header .content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.home-header p {
	font-size: 1.5rem;
	line-height: 2.125rem;
	color: var(--white);
  text-align: right;
  margin-top: 1rem;
}


/**********************/
/*    Page Content    */
/**********************/
.page-head-block {
	padding-top: 3rem;
	padding-bottom: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-2.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.content.page-content {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
}

/* Content page header */
.page-head-block h1 {
  font-size: 2.75rem;
}

.page-content a {
  color: var(--link);
}

.page-content a:hover {
  color: var(--link-hover);
}

.publications-page ul {
  list-style-type: none;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.publications-page li {
  text-indent: -2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* Style for a list where a special bullet glyph
is inserted into the content directly */
ul.bullets-special {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.page-content h3,
.page-content h4 {
  /* padding-top: 0.5rem; */
}

.page-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  gpadding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 50%;
}

.row img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Team member grid on "Who We Are" page */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 15px;
}

.team-name {
  font-weight: 700;
}

.team-name, .team-title {
  font-size: 1.2rem;
	line-height: 2.2rem;
}

.team-grid p {
  font-size: 1.1rem;
}

/* Table style */
.table {
  margin-top: 2rem;
  width: 90%;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

thead {
  position: sticky;
  top: calc(var(--nav-height-full) - 1px);
  background-color: var(--white);
}

th {
  background-color: var(--white);
}


/* Center all columns */
table td {
  text-align: center;
}

/* Override rule above to left align specific columns */
table td:nth-child(1){
  text-align: left;
}


/**********************/
/* Call to Action Block */
/**********************/
.call-to-action {
	padding-top: 3rem;
	padding-bottom: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
	text-align: center;
	background-color: var(--off-white);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.call-to-action p {
	margin-bottom: 0.75rem;
  margin-top: 0;
	font-weight:100;
	font-size: 1.625rem;
	line-height: 3.2rem;
	color: var(--black);
}

.call-to-action .p-heading {
	margin-bottom: 1.5rem;
}

.call-to-action .btn-solid-lg,
.lightbox-basic .btn-solid-lg,
.page-content .btn-solid-lg {
	padding: 0.75rem 2.625rem;
  color: var(--white);
}

/* Call to action margins for homepage */
.call-to-action.homepage {
  margin-top: 0;
  margin-bottom: 0;
}

/* Call to action margins for sitting at the bottom of a content page */
.call-to-action.content-page-bottom {
  margin-bottom: -1.5rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 3.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--gray);
}

.footer .p-small{
	color:var(--off-white);
}

.footer a {
	color: var(--link-light);
	text-decoration: none;
}

.footer a:hover {
	color: var(--link-light-hover);
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: var(--off-white);
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/

@media (hover: none) {

  /* Regular CSS rules here*/
  thead {
    position: static;
  }
  
}  


/* Large screen width */
@media only screen and (max-width: 1200px) {
}
/* End of large screen width */


/* Medium screen width */
@media only screen and (max-width: 992px) {
  /* Team member grid on "Who We Are" page */
  .team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* Adjust padding at top of page for decreased nav height */
  body {
    padding-top: var(--nav-height-min);
  }

  /* Table header sticky offset for same reason */
  thead {
    top: calc(var(--nav-height-min) - 1px);
  }
  
  /* Header type */
  .home-header h1{
    font-size: 2rem;
  }

  /* Quote/action blocks */
  .quote-block p, .call-to-action p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  
  .call-to-action {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .quote-block .content {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .quote-block {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  
  /* Content page header */
  .page-head-block h1 {
    font-size: 2.25rem;
  }

  /* Content page images */
  .page-content img {
    width: 70%;
  }

  .row img {
    width: 100%;
  }

  /* Navigation */

  a.nav-link, a.dropdown-item {
    font-size: 1.1rem;
  }

  .navbar .dropdown-menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
  }

  .navbar .logo-image img {
    width: 175px;
    height: auto;
  }

  .navbar .navbar-nav {
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-left: 0;
  }
 
	.navbar .nav-item .dropdown-menu {
    display: block;
  }
}
/* End of medium screen width */


/* Small screen width */
@media only screen and (max-width: 768px) {
  /* Header type */
  .home-header h1{
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  
  .quote-block p, .call-to-action p {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }

  /* Homepage header section */
  .home-header p {
    font-size: 1.19rem;
  }

  .home-header .content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /* Content pages */
  .content.page-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Publication citation text */
  .publications-page li {
    font-size: 1.1rem;
  }

  /* Table styling */
  .table {
    width: 100%;
  }
}
/* End of small screen width */


/* X-small screen width */
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: -0.25rem;
  }
  
  h3 {
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin-bottom: -0.25rem;
  }

  p, li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
  }

  td {
    font-size: 0.85rem;
  }

  th {
    font-size: 0.8rem;
  }

  /* Header block text */
  .home-header h1 {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }

  .quote-block p, .call-to-action p {
    font-size: 1.3rem;
    line-height: 2.6rem;
  }
  
  /* Content page header */
  .page-head-block h1 {
    font-size: 2rem;
  }

  /* Team member title */
  .team-grid p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .team-name, .team-title {
    font-size: 1.1rem;
  }
  
  /* Homepage header section */
  .home-header .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home-header p {
    font-size: 1rem;
  }

  /* Mid-page quote block on home */
  .quote-block {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  /* Call to action block */
  .call-to-action {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .call-to-action .btn-solid-lg {
    font-size: 1.2rem;
    /* margin-top: 1rem; */
  }

  /* Publication citation text */
  .publications-page li {
    font-size: .9rem;
  }

  /* Content page images */
  .page-content img {
    width: 85%;
  }

  .row img {
    width: 100%;
  }

  /* Footer section */
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .footer .p-small {
    font-size: 0.8rem;
  }

  .footer .footer-col {
    margin-bottom: 2rem;
  }

  /* Content page header section */
  .page-head-block {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
/* End of x-small screen width */

/* X-x-small screen width */
@media only screen and (max-width: 390px) {
  td {
    font-size: 0.75rem;
  }

  th {
    font-size: 0.7rem;
  }
}
/* End of x-x-small screen width */

/* X-x-x-small screen width */
@media only screen and (max-width: 350px) {
  td {
    font-size: 0.65rem;
  }

  th {
    font-size: 0.65rem;
  }
}
/* End of x-x-x-small screen width */

/* Large and X-Large */
@media (min-width: 992px) {
  /* Navigation bar */
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu {
    margin-top:0;
    border-bottom: 1px solid var(--off-white);
  }
  a.dropdown-item {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
  }
  /* end of navigation */

  /* Footer */
  .footer .footer-col {
    margin-bottom: 2rem;
  }

  .footer .footer-col.first {
    display: inline-block;
    width: 432px;
    margin-right: 1.75rem;
    vertical-align: top;
    align-self: center;
  }

  .footer .footer-col.second {
    display: inline-block;
    width: 432px;
    margin-right: 1.75rem;
    vertical-align: top;
    align-self: center;
  }

  .footer .footer-col.third {
    display: inline-block;
    width: 224px;
    text-align: right;
    vertical-align: top;
  }

  .footer .footer-col.third .fa-stack {
    margin-right: 0;
    margin-left: 0.375rem;
  }
  /* end of footer */
}


/* X-large screen width */
@media (min-width: 1200px) {

	.home-header img {
		position: absolute;
		left: 5rem;
	}
	/* end of header */

	/* end of projects */
	/* Footer */
	.footer .footer-col.first {
		width: 432px;
		margin-right: 6rem;
		margin-left: 10%;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */

}
/* End of x-large screen width */
