/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Homepage
- Page Content
- Call to Action Block
- Footer
- Media Queries
******************************************/


/**************************/
/*         Colors         */
/**************************/
:root {
  --black: #000000;
  --white: #FFFFFF;
  --off-white: rgb(233, 231, 231);
  --gray: #343434;
  --maroon: maroon;
  --maroon-light: #9B0001;
  --link: #0E6290;
  --link-hover: #093A57;
  --link-light: #55DDFF;
  --link-light-hover: #40B4D0;
}


/**************************/
/*     General Styles     */
/**************************/

body,
html {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

body, p, li {
	color: var(--black);
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
  overflow-wrap: break-word;
}

h1 {
	font-weight: lighter;
	line-height: 3.125rem;
	font-size: 2.75rem;
	line-height: 3.75rem;
	letter-spacing: -0.7px;
	color: var(--white);
}

h2 {
	color: var(--maroon);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: var(--black);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h4 {
  color: var(--black);
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

.black {
  color: var(--black);
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
} 

a {
  text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	border: 1px solid var(--maroon);
	border-radius: 32px;
	background-color: var(--maroon);
	color: var(--white);
	font-weight:bolder;
	font-size: 1.5rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid var(--maroon-light);
	background-color: var(--maroon-light);
	color: var(--white); /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	border-bottom: 1px solid var(--off-white);
	background-color: var(--white);
}

a.nav-link {
  font-weight: 700;
	font-size: 1.25rem;
	line-height: 0.875rem;
}

.navbar .logo-image img {
  width: 225px;
  height: 70px;
}

.navbar .navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
	color: var(--black);
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover{
	color: var(--maroon);
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: var(--white);
}

/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.navbar.top-nav-collapse {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--off-white);
  background-color: var(--white);
}

.offcanvas-collapse {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  width: auto;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  overflow-y: visible;
  visibility: visible;
}

.offcanvas-collapse.open {
  -webkit-transform: none;
  transform: none;
}

.navbar .dropdown-divider {
  width: 90%;
}

.navbar .nav-item .btn-solid-sm {
  margin-top: 0;
  margin-left: 1rem;
}
/* end of navigation */


/**********************/
/*      Homepage      */
/**********************/
.quote-block {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-2.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.quote-block .content {
	margin-bottom: 5rem;
	margin-top: 4rem;
}

.quote-block p {
	font-weight: lighter;
	line-height: 3.125rem;
	font-size: 2.3rem;
	line-height: 4rem;
	letter-spacing: -0.7px;
	color: var(--white);
}


.home-header {
  overflow-x: hidden;
  /* margin-top: -10rem; */
  /* margin-top: 10rem; */
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/photo-3.jpg') center center no-repeat !important;
}

.home-header a {
	color: var(--link-light);
	text-decoration: underline;
}

.home-header a:hover {
	color: var(--link-light-hover);
	text-decoration: underline;
}

.home-header .content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-header p {
	font-size: 1.5rem;
	line-height: 2.125rem;
	color: var(--white);
  text-align: right;
  margin-top: 1rem;
}


/**********************/
/*    Page Content    */
/**********************/
.page-head-block {
	padding-top: 7rem;
	padding-bottom: 7rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-2.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.content.page-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5px;
  padding-right: 5px;
}

.page-content a {
  color: var(--link);
}

.page-content a:hover {
  color: var(--link-hover);
}

.publications-page a {
  color: var(--black);
}

.publications-page a:hover {
  text-decoration: none;
}

.publications-page ul {
  list-style-type: none;
  padding-left: 2rem;
}

.publications-page li {
  text-indent: -2rem;
  margin-bottom: 1rem;
}

.page-content h3,
.page-content h4 {
  /* padding-top: 0.5rem; */
}

.page-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 50%;
}

.row img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Team member grid on "Who We Are" page */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}


/**********************/
/*     Call to Action Block     */
/**********************/
.action-block {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
	background-color: var(--white);
}

.action-block p {
	margin-bottom: 0.75rem;
	font-weight:100;
	font-size:2.75rem;
	line-height:4rem;
	color: var(--black);
}

.action-block .p-heading {
	margin-bottom: 3rem;
}

.action-block .btn-solid-lg,
.lightbox-basic .btn-solid-lg {
	margin-top: 2rem;
	padding: 2rem 2.625rem 2rem 2.625rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 3.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--gray);
}

.footer .p-small{
	color:var(--off-white);
}

.footer a {
	color: var(--link-light);
	text-decoration: none;
}

.footer a:hover {
	color: var(--link-light-hover);
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: var(--off-white);
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/


/* Large screen width */
@media only screen and (max-width: 1200px) {
}
/* End of large screen width */


/* Medium screen width */
@media only screen and (max-width: 992px) {
  /* Team member grid on "Who We Are" page */
  .team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* Adjust padding at top of page for decreased nav height */
  body {
    padding-top: 34.25px;
  }
  
  /* Header type */
  .home-header h1{
    font-size: 2.4rem;
  }

  /* Quote/action blocks */
  .quote-block p, .action-block p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  
  .action-block {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
  
  .quote-block .content {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .quote-block {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  
  /* Content page header */
  .page-head-block h1 {
    font-size: 2.7rem;
  }

  /* Content page images */
  .page-content img {
    width: 70%;
  }

  .row img {
    width: 100%;
  }

  /* Navigation */
  a.nav-link {
    font-size: 1.1rem;
  }

  .navbar .logo-image img {
    width: 175px;
    height: auto;
  }

  .navbar .navbar-nav {
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-left: 0;
  }
}
/* End of medium screen width */


/* Small screen width */
@media only screen and (max-width: 768px) {
  /* Header type */
  .home-header h1{
    font-size: 2.25rem;
    line-height: 3.2rem;
  }
  
  .quote-block p, .action-block p {
    font-size: 1.7rem;
    line-height: 3.2rem;
  }

  /* Homepage header section */
  .home-header p {
    font-size: 1.19rem;
  }

  .home-header .content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /* Content pages */
  .content.page-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Publication citation text */
  .publications-page li {
    font-size: 1.1rem;
  }

}
/* End of small screen width */


/* X-small screen width */
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 1.3rem;
  }

  p, li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
  }

  /* Header block text */
  .home-header h1, .quote-block p, .action-block p {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  
  /* Content page header */
  .page-head-block h1 {
    font-size: 2rem;
  }
  
  /* Homepage header section */
  .home-header .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home-header p {
    font-size: 1rem;
  }

  /* Mid-page quote block on home */
  .quote-block {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  /* Call to action block */
  .action-block {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  .action-block .btn-solid-lg {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  /* Publication citation text */
  .publications-page li {
    font-size: .9rem;
  }

  /* Content page images */
  .page-content img {
    width: 85%;
  }

  .row img {
    width: 100%;
  }

  /* Footer section */
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .footer .p-small {
    font-size: 0.8rem;
  }

  .footer .footer-col {
    margin-bottom: 2rem;
  }

  /* Content page header section */
  .page-head-block {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
/* End of x-small screen width */


/* Large and X-Large */
@media (min-width: 992px) {
  /* Footer */
  .footer .footer-col {
    margin-bottom: 2rem;
  }

  .footer .footer-col.first {
    display: inline-block;
    width: 432px;
    margin-right: 1.75rem;
    vertical-align: top;
    align-self: center;
  }

  .footer .footer-col.second {
    display: inline-block;
    width: 432px;
    margin-right: 1.75rem;
    vertical-align: top;
    align-self: center;
  }

  .footer .footer-col.third {
    display: inline-block;
    width: 224px;
    text-align: right;
    vertical-align: top;
  }

  .footer .footer-col.third .fa-stack {
    margin-right: 0;
    margin-left: 0.375rem;
  }
  /* end of footer */
}


/* X-large screen width */
@media (min-width: 1200px) {

	.home-header img {
		position: absolute;
		left: 5rem;
	}
	/* end of header */

	/* end of projects */
	/* Footer */
	.footer .footer-col.first {
		width: 432px;
		margin-right: 6rem;
		margin-left: 10%;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */

}
/* End of x-large screen width */