    <!-- Newsletter -->
	<div id="contact" class="action-block">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ page.action-block.header }}</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <a class="btn-solid-lg" href="{{ page.action-block.link }}" target="_blank">{{ page.action-block.button-text }}</a>
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of newsletter -->