<!-- Site Footer -->
<div class="footer">
  <div class="container">
      <div class="col-8 mx-auto">
        <div class="row justify-content-center">
          <a href="https://openlearning.mit.edu/"><img class="img-fluid" src="{{ site.baseurl }}/images/newopenlearninglogo.png" style="width:240px" alt="MIT Open Learning" /></a>
        </div> <!-- end of row -->
        <div class="row justify-content-center">
          <p class="p-small" style="text-align: center;">© 2025 MIT</p>
        </div> <!-- end of row -->
        <div class="row justify-content-center">
          <p class="p-small" style="text-align: center;"><a href="https://accessibility.mit.edu/" target="blank">Accessibility</a> | <a href="https://github.com/digitalcredentials">GitHub</a></p>
        </div>  <!-- end of row -->
      </div> <!-- end of column -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->
