<!-- Footer -->
<div class="footer">
  <div class="container">
      <div class="row justify-content-center">
              <div class="col-8 col-md-4 mx-auto">
                  <img class="img-fluid" src="images/logo-mit-footer.png" style="width:240px" alt="MIT Open Learning">
                  <p class="p-small">
                      © 2023 MIT<br><br>
                      MIT Open Learning<br>
                      600 Technology Square<br>
                      Cambridge, MA 02139<br><br>
                      Massachusetts Institute of Technology<br><br>
                      <a href="https://accessibility.mit.edu/" target="blank">Accessibility</a>
                  </p>
              </div> <!-- end of footer-col -->
              <div class="col-8 col-md-4 mx-auto">
                  <p class="p-small">
                      <b>DCC Founding Members</b><br>
                      Delft University of Technology (The Netherlands)<br>
                      Georgia Tech (USA)<br>
                      Harvard University (USA)<br>
                      Hasso Plattner Institute, University of Potsdam (Germany)<br>
                      Massachusetts Institute of Technology (USA)<br>
                      McMaster University (Canada)<br>
                      Tecnologico De Monterrey (Mexico)<br>
                      TU Munich (Germany)<br>
                      UC Berkeley (USA)<br>
                      UC Irvine (USA)<br>
                      University of Milano-Bicocca (Italy)<br>
                      University of Toronto (Canada)<br><br>
                  </p>
              </div> <!-- end of footer-col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->
