<!-- Displays a list of team members in a two column grid that collapses into one
  column at a narrow screen width. Each team member has a profile photo,
  name/title/web-links, and a short bio. -->


<h2 class="pt-3" id="team">Our Team</h2>
  
<div class="team-grid mb-4 mt-3">

  {% for member in page.team %}
    <div>
      <div class="row">
        <div class="col-4 col-sm-3 col-lg-4">
          <img
            src="{{ site.baseurl }}{{ member.photo }}"
            style="border-radius: 25px;"
            class="mt-2 mb-3-xs"
            alt="Photo of {{ member.name }}"
          />
        </div>
        <div class="col-6">
          <div class="mb-0 mt-0 team-name">{{ member.name }}</div>
          <div class="mb-1 mt-n1 team-title">{{ member.title }}</div>
          {% if member.website%}
            <a href="{{ member.website }}" title="Personal Website"><i class="fa fa-globe fa-lg mr-2"></i></a>
          {% endif %}
          {% if member.linkedin%}
            <a href="{{ member.linkedin }}" title="LinkedIn"><i class="fa fa-linkedin fa-lg mr-2"></i></a>
          {% endif %}
          {% if member.github%}
            <a href="{{ member.github }}" title="GitHub"><i class="fa fa-github fa-lg mr-2"></i></a>
          {% endif %}
          {% if member.twitter%}
            <a href="{{ member.twitter }}" title="Twitter"><i class="fa fa-twitter fa-lg mr-2"></i></a>
          {% endif %}
        </div>
      </div>
      <p class="mt-2">{{ member.bio }}</p>
    </div>
  {% endfor %}
</div>
